module.exports = {
  apiUrl: 'http://localhost:3000/',
  ads: {
    client: 'ca-pub-1231231231231231',
    slot:   '1231231231',
    format: 'auto',
  },
  sidebarAd: {
    client:    'ca-pub-1231231231231231',
    slot:      '1231231231',
    layoutKey: '12312312312312',
    layout:    'image-middle',
    format:    'fluid'
  },
  analytics: {
    google: 'UA-12312312-3',
  },
  email: 'email@example.com'
};