module.exports = {
  apiUrl:
  ads: {
    client:
    slot:
    format:
  },
  sidebarAd: {
    client:
    slot:
    layoutKey:
    layout:    'image-middle',
    format:    'fluid'
  },
  analytics: {
    google: 'UA-',
  },
  email:
};
